{% extends 'base.html' %}
{% block content %}
  <body>
    <h1>Hello, World!</h1>
    <p>Click on the links in the list below to see what I've made</p>
    <ol>
      <li><a href="{{ url_for('example_form') }}">Example of HTML form</a></li>
      <li><a href="{{ url_for('tip') }}">Tip Calculator</a></li>
	  <li><a href="{{ url_for('madlib') }}">Story</a></li>
      <li><a href="{{ url_for('my_new_function') }}">Stuff and Nails???</a></li>
      <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
    </ol>
    <p>Not much so far, it's your job to add to this ...</p>
  </body>
{% endblock %}
