{% extends 'base.html' %}
{% block content %}
  <body>
    <form action='/tip' method='post'>
      <input type= 'text' value='Cost of meal' name='mealcost'/>
	  <input type= 'text' value='tax' name='tax'/>
	  <input type= 'text' value='tip' name='tip'/>
      <input type= 'submit' value='compute'/>
    </form>
    {% if mealcost %}
        <p>Mealcost: {{mealcost}}</p>
    {% endif %}    
	{% if mealplustip %}
		<p>Tip equals: {{mealplustip}}</p>
	{% endif %}
    {% if finishtax %}
		<p>Tax equals: {{finishtax}}</p>
	{% endif %}
	{% if mealplustax %}
		<p>Total equals: {{mealplustax}}</p>
	{% endif %}
  </body>
{% endblock %}